@import '../Util/variables.scss';
@import '../Util/selectors.scss';

.mainBox {
	width: 100%;
	height: 100%;            
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;  /* for demo purpose  */
}