
.outer {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
  pointer-events: none;
  filter: invert(1);
  mix-blend-mode: difference;
  transition: scale 0.5s, background-color 0.5s;
  z-index: 500;
}


.change .outer {
  scale: 30%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  filter: none;
  mix-blend-mode: normal;
  background-color: blue;
}