@import '../Util/variables.scss';

.box {
  background-color: $modal-color;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-left: 1.5%;
  z-index: 50;
  padding-top: 10%;
}

.menuText {
  color: $sptext-color;
  background-color: $modal-color;
  font-size: 4vw;
  font-weight: 700;
  margin-left: 10%;
  margin-bottom: 5%;
  z-index: 99;
  
  /* disable highlighting */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.text {
  font-size: 4vw;
  color: $text-color;
  font-weight: 900;
  font-family: $main-font;
  background-color: $background-color;
  
  /* disable highlighting */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main {
  background-color: $modal-color;  
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}