@import '../Util/variables.scss';
@import '../Util/selectors.scss';

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: -2;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: -2;
}

.marq {
  font-family: 'Inter';
  font-size: 3vw;
  font-weight: 700;
  color: $text-color;
  padding-left: 100px;
}

.descriptive {
  width: 100%;
  background-color: $background-color;
  z-index: -1;
}

.name1 {
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 700;
  color: $text-color;
}

.name2 {
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 700;
  color: $sptext-color;
}

.proj {
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 700;
  color: $text-color;
  padding-right: 5em;
}