@import '../Util/variables.scss';
@import '../Util/selectors.scss';

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding-left: 4em;
  padding-right: 4em;
}

.marq {
  font-family: 'Inter';
  font-size: 3vw;
  font-weight: 700;
  color: $text-color;
  padding-left: 100px;
}

.descriptive {
  width: 100%;
  background-color: $background-color;
}

.name1 {
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 700;
  color: $text-color;
}

.name2 {
  font-family: 'Inter';
  font-size: 10vw;
  font-weight: 700;
  color: $sptext-color;
}

.projName {
  font-family: 'Inter';
  font-size: 8vw;
  font-weight: 700;
  color: $text-color;
  padding-right: 0.3em;
}

.riemieeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 0.3em;
  background-image: url('../Media/riemiee.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 2s;
}

.riemieeBox .riemieeHover {
  background-color: black;
  opacity: .5;
}

.project {
  width: 100%;
}

.projectImg {
  object-fit: contain;
  width: 100%;
}