@import './Util/variables.scss';

/** Font **/
@import url(https://fonts.googleapis.com/css?family=Inter);

body {
  font-family: $main-font;
  background-color: $background-color;
  // cursor: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}